.split {
    padding: 25px;
}

#lf {
    width: 350px;
    padding-bottom: 105px;
}

#rt {
    width: calc(100% - 350px);
    padding-left: 0;
}

#op {
    position: fixed;
    bottom: 25px;
    left: 25px;
    width: 130px;
    height: 50px;
    background: #555;
}

#sb, #ct {
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}

.tt {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    background: #dadada;
    color: #111;
    font-size: 18px;
    font-weight: bold;
}

.stt {
    width: 100%;
    height: 40px;
    padding: 10px 15px;
    background: #f4f4f4;
    color: #888;
    font-size: 16px;
    font-weight: bold;
}

.bc {
    padding: 20px;
    overflow:auto;
}

.bcinfo {
    background:#fafafa;
    float:left;
    clear:both;
    width:100%;
    padding:15px;
    margin:10px 0;
    font-family:consolas;
    border:1px dashed #ccc;
}

.pc {
    font-size: 16px;
    width: 240px;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor:pointer;
}

.pc:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.pc:first-child {
    padding-top: 0;
}

.pc:last-child {
    padding-bottom: 0;
}

#prv, #nprv {
    float: left;
}

#prv {
    position:relative;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    background: #eee;
    border-radius: 100%;
    overflow:hidden;
}

#prv img {
    width: auto;
    height:100px;
}

#upimg {
    position: absolute;
    top: 38%;
    left: 24%;
    padding: 2px 5px;
    border: 1px solid #ccc;
    z-index: 999999;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background: #eee;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#prv img:hover + #upimg, #upimg:hover {
    opacity:1;
}

#nprv {
    width: calc(100% - 120px);
    height: 100%;
}

#nme, #bio, #email, #currentp, #newp {
    display: block;
    max-width: 100%;
}

#nme, #bio, #email {
    background: #fff;
    border:none;
}

#currentp, #newp {
    max-width:250px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}

#email {
    width: 250px;
}

.show-password {
    position: absolute;
    bottom: 29%;
    right: 250px;
    font-size: 11px;
    text-transform: uppercase;
    color: #aaa;
    cursor: pointer;
}

#nme {
    height: 20px;
    min-width: 150px;
    margin-bottom: 20px;
}

#bio {
    min-width: 100%;
    resize:none;
}

.editable {
    border: 1px solid #ccc!important;
    border-radius:4px;
    padding:3px;
}

.switch {
    float:left;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    clear:left;
    margin:0 10px 10px 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: darkseagreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px darkseagreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.swides {
    float:left;
    clear:right;
    font-size:14px;
    line-height:1.4em;
}

.e {
    width: 10px;
    height: 15px;
    margin: 0 0 0 5px;
    font-size:11px;
    text-transform:uppercase;
    color: palevioletred;
    font-weight:bold;
    cursor:pointer;
}