<nav id="sitenav">
    @Html.ActionLink("LionFish", "Index", "Home", new { area = "" }, new { id = "lionfish", @class = "" })
    <div id="snb">
        @Html.ActionLink("Settings", "Settings", "App", null, new { @class = "button" })
        <div id="profile"></div>
        <div id="notification"></div>
    </div>
</nav>
