<nav id="sitenav">
    @Html.ActionLink("LionFish", "Index", "Home", new { area = "" }, new { id = "lionfish", @class = "" })
	<div id="snb">
		@Html.ActionLink("Get started", "Login", "Account", new { area = "" }, new { id = "getstarted", @class = "button" })
		
	</div>
</nav>
