@{
    ViewBag.Title = "Settings";
}

@section Nav {
    @Html.Partial("_NavApp");
}

<main>
    <aside class="split" id="lf">
        <div id="sb">
            <div class="tt">Sidebar</div>
            <div class="stt">Subtitle a</div>
            <div class="bc">
                <div class="pc">never gonna give you up</div>
                <div class="pc">never gonna let you down</div>
                <div class="pc">never gonna make this line so long it breaks into the next line</div>
            </div>
            <div class="stt">Subtitle b</div>
            <div class="bc">
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
            </div>
            <div class="stt">Subtitle c</div>
            <div class="bc">
                <div class="pc">overflow</div>
                <div class="pc">overflow</div>
            </div>
        </div>
    </aside>
    <section class="split" id="rt">
        <div id="ct">
            <div class="tt">Content</div>
            <div class="stt">Subtitle 1</div>
            <div class="bc"></div>
            <div class="stt">Subtitle 2</div>
            <div class="bc"></div>
            <div class="stt">Subtitle 3</div>
            <div class="bc"></div>
        </div>
    </section>
</main>
