@{
    ViewBag.Title = "Login Failure";
}

@section Nav {
    @Html.Partial("_NavHome");
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
