@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@section Nav {
    @Html.Partial("_NavHome");
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

