@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@section Nav {
    @Html.Partial("_NavHome");
}

<div class="fixcont">
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
